.search-form {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: left;
}

.search-bar {
    width: 80%;
    border-radius: 6px;
    border: 1px solid #eef0f1;
    height: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.filter-button {
    font-size: 16px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #eef0f1;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 12%;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

.category-button {
    font-size: 14px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid #eef0f1;
    background-color: white;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: auto;
}

.search-form-max {
    margin: 24px 20px 8px; ;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 24pt;
    font-weight: 700;
}

.item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sort-dropdown {
    height: 36px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #eef0f1;
}